@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body , html{
  margin: 0;
  padding: 0;
}
.basic{
    background-color: black;
    width: 100%;
    height: 1000%;
}
.basic-menu{
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.basic-menu1{
    display: flex;
  justify-content: space-between;
  width: 1200px;
  align-items: center;    
}


  .search-menu__unicon{
    height: 14px;
    width: 14px;
  }
  .search-menu__vector{
    width: 15px;
    height: 15px;
  }
.burger-menu{
  display: none;
}
.basic-menu__img{
    width:70px ;
    height:36.45px ;
}
.basic-menu__links{
    width: 500px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.basic-menu__link{
    font-size: 14px;
    color: aliceblue;
    text-decoration-line: none;
}
.basic-menu__link:hover {
color: #EBC0A6;
}
.basic-menu__phone{
  display: none;
  margin-right: 45px;
}

.search-menu__lang{
    background-color: transparent;
    color: rgb(94, 94, 94);
    border: none;
}
.search-menu__lang1{
    background-color: transparent;
    color: rgb(0, 0, 0);
}
.search-menu{
    width: 114px;
    display: flex;
    justify-content: space-between;
}
.headerimg{
    background-image: url(Images/men\ img.png);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
  }
  .texts{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerimg__button{
    margin-bottom: 100px;
    cursor: pointer;
    background: linear-gradient(90deg,
      rgba(190, 101, 82, 1) 0%,
      rgba(236, 169, 160, 1) 53%,
      rgba(190, 101, 82, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 15px 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    font-family: "Montserrat";
    font-size: 14px;
    border-image: linear-gradient(to right, #be6552, #eca9a0, #be6552) 1;
    border-width: 1px;
    border-style: solid;
    display: flex;
  }
  .headerimg__button:hover{
    background: rgb(151, 83, 67);
    background: linear-gradient(90deg,
    rgb(167, 90, 72) 0%,
    rgb(181, 130, 123) 53%,
    rgb(151, 82, 66) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: linear-gradient(to right, #975142, #9b6f69, #85483a) 1;
  }
  .axtext {
    color: white;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    display: flex;
  }
  .axsubtitle{
    color: rgba(255, 255, 255, 0.8);
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    display: flex;
    padding-bottom: 15px;
  }
.information{
  display: flex;
  flex-direction: column;
  align-items: center;
width: 100%;
}

.informationtext{
  margin-top: 100px;
  padding-bottom: 10px;
  font-size: 44px;
  line-height: 52.8px;
  }
.cars-logos{
  margin-top:70px ;
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.inform__logo{
  width: 186px;
  height: 141.91px;
  }
  .inform__logo1{
    width: 186px;
    height: 141.91px;
  }
  .inform__logo2{
    width: 186px;
    height: 141.91px;
  }
  .inform__logo3{
    width: 186px;
    height: 141.91px;
  }
  .inform__logo4{
    width: 186px;
    height: 141.91px;
  }

.inform__text{
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.80);
}

.epiccar__car{
  width: 595px;
  height: 354px;
}
.epiccar{
  margin-top: 100px;
  display: flex;
    justify-content: center;
    align-items: center;
}
.car-block{
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.epiccar__header{
  font-family:"Montserrat" ;
  font-weight: 300;
  font-size: 44px;
  line-height: 52.8px;
  color: rgb(255, 255, 255, 1);
}
.epiccar__buttons{
  display: flex;
  max-width: 532px;
  flex-wrap: wrap;
  justify-content: space-around;

  


}
.epiccar__text{
  color: rgb(161, 161, 161,1);
  font-size: 18px;
  font-family:"Montserrat" ;
  font-weight: 300;
  line-height: 27px;
}
.blocklogo{
  display: flex;
  flex-direction: column;

}

.epiccar__button[type="radio"]{
  display: none;
}
.epiccar__label{
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-family:"Montserrat" ;
  font-weight: 300;
  line-height: 21.6px;
  padding-left: 60px;
  padding-right: 60px;

}
.epiccar__text-block{
  display: none;
  order: 1;

}
.epiccar__button[type="radio"]:checked + label + .epiccar__text-block{
  display: block;
}
.epiccar__buttons .epiccar__text-block{
  width: 532px;
 

}
.epiccar__button[type="radio"]:checked + label{
  border-width: 160px;
  background: linear-gradient(90deg,
  rgba(190, 101, 82, 1) 0%,
  rgba(236, 169, 160, 1) 53%,
  rgba(190, 101, 82, 1) 100%);
background-clip: text;
-webkit-text-fill-color: transparent;
border-bottom: 1px solid;
border-image: linear-gradient(to right, #000000, #c17a6a, #000000) 1;
}
.epic-button{
  margin-top: 55px;
}













@media (max-width: 700px) {
  .basic-menu1 {
  width: 600px;
  } 
  .basic-menu__links{
      display: flex;
      justify-content: space-around;
      width: 200px;   
  }
  .basic-menu__link{
      font-size: 7px;
      font-weight: 400;
  }
}

@media (max-width: 560px) {
  .basic-menu1 {
    width: 400px;
    justify-content: center;
  }
  .basic-menu__link{
      display: none;
  } 
  .burger-menu{
    display: block;
  }
  .basic-menu__links{
    display: none;
  }
  .search-menu__unicon{
    display: none;
  }
  .search-menu__vector{
    display: none;
  }
  .basic-menu__phone{
    display: block;
  }
  .basic-menu__img{

    padding-right: 90px;
    padding-left: 90px;
  }
}


@media (max-width: 460px) {
  .basic-menu__img{

    padding-right: 50px;
    padding-left: 50px;
  }

}  